<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adtiming.om.ds.dao.OmAdnetworkAppChangeMapper">
  <resultMap id="BaseResultMap" type="com.adtiming.om.ds.model.OmAdnetworkAppChange">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="pub_app_id" jdbcType="INTEGER" property="pubAppId" />
    <result column="adn_id" jdbcType="INTEGER" property="adnId" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="account_owner" jdbcType="TINYINT" property="accountOwner" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="adn_app_key" jdbcType="VARCHAR" property="adnAppKey" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="client_secret" jdbcType="VARCHAR" property="clientSecret" />
    <result column="refresh_token" jdbcType="VARCHAR" property="refreshToken" />
    <result column="api_key" jdbcType="VARCHAR" property="apiKey" />
    <result column="report_app_id" jdbcType="VARCHAR" property="reportAppId" />
    <result column="new_account_key" jdbcType="VARCHAR" property="newAccountKey" />
    <result column="ab_test_mode" jdbcType="TINYINT" property="abTestMode" />
    <result column="report_account_id" jdbcType="INTEGER" property="reportAccountId" />
    <result column="new_report_account_id" jdbcType="INTEGER" property="newReportAccountId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify" jdbcType="TIMESTAMP" property="lastmodify" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pub_app_id, adn_id, account_id, account_owner, status, adn_app_key, client_id, 
    client_secret, refresh_token, api_key, report_app_id, new_account_key, ab_test_mode, 
    report_account_id, new_report_account_id, create_time, lastmodify
  </sql>
  <select id="selectByExample" parameterType="com.adtiming.om.ds.model.OmAdnetworkAppChangeCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from om_adnetwork_app_change
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.adtiming.om.ds.model.OmAdnetworkAppChange">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_adnetwork_app_change (pub_app_id, adn_id, account_id, 
      account_owner, status, adn_app_key, 
      client_id, client_secret, refresh_token, 
      api_key, report_app_id, new_account_key, 
      ab_test_mode, report_account_id, new_report_account_id, 
      create_time, lastmodify)
    values (#{pubAppId,jdbcType=INTEGER}, #{adnId,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, 
      #{accountOwner,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{adnAppKey,jdbcType=VARCHAR}, 
      #{clientId,jdbcType=VARCHAR}, #{clientSecret,jdbcType=VARCHAR}, #{refreshToken,jdbcType=VARCHAR}, 
      #{apiKey,jdbcType=VARCHAR}, #{reportAppId,jdbcType=VARCHAR}, #{newAccountKey,jdbcType=VARCHAR}, 
      #{abTestMode,jdbcType=TINYINT}, #{reportAccountId,jdbcType=INTEGER}, #{newReportAccountId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastmodify,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.adtiming.om.ds.model.OmAdnetworkAppChange">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_adnetwork_app_change
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pubAppId != null">
        pub_app_id,
      </if>
      <if test="adnId != null">
        adn_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="accountOwner != null">
        account_owner,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="adnAppKey != null">
        adn_app_key,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="clientSecret != null">
        client_secret,
      </if>
      <if test="refreshToken != null">
        refresh_token,
      </if>
      <if test="apiKey != null">
        api_key,
      </if>
      <if test="reportAppId != null">
        report_app_id,
      </if>
      <if test="newAccountKey != null">
        new_account_key,
      </if>
      <if test="abTestMode != null">
        ab_test_mode,
      </if>
      <if test="reportAccountId != null">
        report_account_id,
      </if>
      <if test="newReportAccountId != null">
        new_report_account_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastmodify != null">
        lastmodify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pubAppId != null">
        #{pubAppId,jdbcType=INTEGER},
      </if>
      <if test="adnId != null">
        #{adnId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="accountOwner != null">
        #{accountOwner,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="adnAppKey != null">
        #{adnAppKey,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null">
        #{clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null">
        #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="apiKey != null">
        #{apiKey,jdbcType=VARCHAR},
      </if>
      <if test="reportAppId != null">
        #{reportAppId,jdbcType=VARCHAR},
      </if>
      <if test="newAccountKey != null">
        #{newAccountKey,jdbcType=VARCHAR},
      </if>
      <if test="abTestMode != null">
        #{abTestMode,jdbcType=TINYINT},
      </if>
      <if test="reportAccountId != null">
        #{reportAccountId,jdbcType=INTEGER},
      </if>
      <if test="newReportAccountId != null">
        #{newReportAccountId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodify != null">
        #{lastmodify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>