<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adtiming.om.ds.dao.OmCurrencyExchangeDayMapper">
  <resultMap id="BaseResultMap" type="com.adtiming.om.ds.model.OmCurrencyExchangeDay">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="day" jdbcType="DATE" property="day" />
    <result column="cur_from" jdbcType="VARCHAR" property="curFrom" />
    <result column="cur_to" jdbcType="VARCHAR" property="curTo" />
    <result column="exchange_rate" jdbcType="DECIMAL" property="exchangeRate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify" jdbcType="TIMESTAMP" property="lastmodify" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, day, cur_from, cur_to, exchange_rate, create_time, lastmodify
  </sql>
  <select id="selectByExample" parameterType="com.adtiming.om.ds.model.OmCurrencyExchangeDayCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from om_currency_exchange_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from om_currency_exchange_day
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from om_currency_exchange_day
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.adtiming.om.ds.model.OmCurrencyExchangeDay">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_currency_exchange_day (day, cur_from, cur_to, 
      exchange_rate, create_time, lastmodify
      )
    values (#{day,jdbcType=DATE}, #{curFrom,jdbcType=VARCHAR}, #{curTo,jdbcType=VARCHAR}, 
      #{exchangeRate,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{lastmodify,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.adtiming.om.ds.model.OmCurrencyExchangeDay">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_currency_exchange_day
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="day != null">
        day,
      </if>
      <if test="curFrom != null">
        cur_from,
      </if>
      <if test="curTo != null">
        cur_to,
      </if>
      <if test="exchangeRate != null">
        exchange_rate,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastmodify != null">
        lastmodify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="day != null">
        #{day,jdbcType=DATE},
      </if>
      <if test="curFrom != null">
        #{curFrom,jdbcType=VARCHAR},
      </if>
      <if test="curTo != null">
        #{curTo,jdbcType=VARCHAR},
      </if>
      <if test="exchangeRate != null">
        #{exchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodify != null">
        #{lastmodify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtiming.om.ds.model.OmCurrencyExchangeDay">
    update om_currency_exchange_day
    <set>
      <if test="day != null">
        day = #{day,jdbcType=DATE},
      </if>
      <if test="curFrom != null">
        cur_from = #{curFrom,jdbcType=VARCHAR},
      </if>
      <if test="curTo != null">
        cur_to = #{curTo,jdbcType=VARCHAR},
      </if>
      <if test="exchangeRate != null">
        exchange_rate = #{exchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodify != null">
        lastmodify = #{lastmodify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtiming.om.ds.model.OmCurrencyExchangeDay">
    update om_currency_exchange_day
    set day = #{day,jdbcType=DATE},
      cur_from = #{curFrom,jdbcType=VARCHAR},
      cur_to = #{curTo,jdbcType=VARCHAR},
      exchange_rate = #{exchangeRate,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      lastmodify = #{lastmodify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>