<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adtiming.om.ds.dao.OmDevDeviceMapper">
  <resultMap id="BaseResultMap" type="com.adtiming.om.ds.model.OmDevDevice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="publisher_id" jdbcType="INTEGER" property="publisherId" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="ab_test_mode" jdbcType="TINYINT" property="abTestMode" />
    <result column="lastmodify" jdbcType="TIMESTAMP" property="lastmodify" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, publisher_id, device_name, device_id, status, ab_test_mode, lastmodify, create_time
  </sql>
  <select id="select" parameterType="com.adtiming.om.ds.model.OmDevDeviceCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from om_dev_device
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from om_dev_device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from om_dev_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.adtiming.om.ds.model.OmDevDevice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_dev_device (publisher_id, device_name, device_id, 
      status, ab_test_mode, lastmodify, 
      create_time)
    values (#{publisherId,jdbcType=INTEGER}, #{deviceName,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{abTestMode,jdbcType=TINYINT}, #{lastmodify,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.adtiming.om.ds.model.OmDevDevice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_dev_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="publisherId != null">
        publisher_id,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="abTestMode != null">
        ab_test_mode,
      </if>
      <if test="lastmodify != null">
        lastmodify,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="publisherId != null">
        #{publisherId,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="abTestMode != null">
        #{abTestMode,jdbcType=TINYINT},
      </if>
      <if test="lastmodify != null">
        #{lastmodify,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtiming.om.ds.model.OmDevDevice">
    update om_dev_device
    <set>
      <if test="publisherId != null">
        publisher_id = #{publisherId,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="abTestMode != null">
        ab_test_mode = #{abTestMode,jdbcType=TINYINT},
      </if>
      <if test="lastmodify != null">
        lastmodify = #{lastmodify,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtiming.om.ds.model.OmDevDevice">
    update om_dev_device
    set publisher_id = #{publisherId,jdbcType=INTEGER},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      ab_test_mode = #{abTestMode,jdbcType=TINYINT},
      lastmodify = #{lastmodify,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>