<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adtiming.om.ds.dao.OmPlacementRuleSegmentMapper">
  <resultMap id="BaseResultMap" type="com.adtiming.om.ds.model.OmPlacementRuleSegment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="placement_id" jdbcType="INTEGER" property="placementId" />
    <result column="countries" jdbcType="VARCHAR" property="countries" />
    <result column="frequency" jdbcType="INTEGER" property="frequency" />
    <result column="con_type" jdbcType="TINYINT" property="conType" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="age_min" jdbcType="INTEGER" property="ageMin" />
    <result column="age_max" jdbcType="INTEGER" property="ageMax" />
    <result column="interest" jdbcType="VARCHAR" property="interest" />
    <result column="iap_min" jdbcType="DECIMAL" property="iapMin" />
    <result column="iap_max" jdbcType="DECIMAL" property="iapMax" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="channel_bow" jdbcType="TINYINT" property="channelBow" />
    <result column="model_type" jdbcType="INTEGER" property="modelType" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify" jdbcType="TIMESTAMP" property="lastmodify" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.adtiming.om.ds.model.OmPlacementRuleSegmentWithBLOBs">
    <result column="brand_whitelist" jdbcType="LONGVARCHAR" property="brandWhitelist" />
    <result column="brand_blacklist" jdbcType="LONGVARCHAR" property="brandBlacklist" />
    <result column="model_whitelist" jdbcType="LONGVARCHAR" property="modelWhitelist" />
    <result column="model_blacklist" jdbcType="LONGVARCHAR" property="modelBlacklist" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, placement_id, countries, frequency, con_type, gender, age_min, age_max, interest, 
    iap_min, iap_max, channel, channel_bow, model_type, priority, status, create_time, 
    lastmodify
  </sql>
  <sql id="Blob_Column_List">
    brand_whitelist, brand_blacklist, model_whitelist, model_blacklist
  </sql>
  <select id="selectWithBLOBs" parameterType="com.adtiming.om.ds.model.OmPlacementRuleSegmentCriteria" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from om_placement_rule_segment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="select" parameterType="com.adtiming.om.ds.model.OmPlacementRuleSegmentCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from om_placement_rule_segment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from om_placement_rule_segment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from om_placement_rule_segment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.adtiming.om.ds.model.OmPlacementRuleSegmentWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_placement_rule_segment (placement_id, countries, frequency, 
      con_type, gender, age_min, 
      age_max, interest, iap_min, 
      iap_max, channel, channel_bow, 
      model_type, priority, status, 
      create_time, lastmodify, brand_whitelist, 
      brand_blacklist, model_whitelist, 
      model_blacklist)
    values (#{placementId,jdbcType=INTEGER}, #{countries,jdbcType=VARCHAR}, #{frequency,jdbcType=INTEGER}, 
      #{conType,jdbcType=TINYINT}, #{gender,jdbcType=TINYINT}, #{ageMin,jdbcType=INTEGER}, 
      #{ageMax,jdbcType=INTEGER}, #{interest,jdbcType=VARCHAR}, #{iapMin,jdbcType=DECIMAL}, 
      #{iapMax,jdbcType=DECIMAL}, #{channel,jdbcType=VARCHAR}, #{channelBow,jdbcType=TINYINT}, 
      #{modelType,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastmodify,jdbcType=TIMESTAMP}, #{brandWhitelist,jdbcType=LONGVARCHAR}, 
      #{brandBlacklist,jdbcType=LONGVARCHAR}, #{modelWhitelist,jdbcType=LONGVARCHAR}, 
      #{modelBlacklist,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adtiming.om.ds.model.OmPlacementRuleSegmentWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_placement_rule_segment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="placementId != null">
        placement_id,
      </if>
      <if test="countries != null">
        countries,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="conType != null">
        con_type,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="ageMin != null">
        age_min,
      </if>
      <if test="ageMax != null">
        age_max,
      </if>
      <if test="interest != null">
        interest,
      </if>
      <if test="iapMin != null">
        iap_min,
      </if>
      <if test="iapMax != null">
        iap_max,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="channelBow != null">
        channel_bow,
      </if>
      <if test="modelType != null">
        model_type,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastmodify != null">
        lastmodify,
      </if>
      <if test="brandWhitelist != null">
        brand_whitelist,
      </if>
      <if test="brandBlacklist != null">
        brand_blacklist,
      </if>
      <if test="modelWhitelist != null">
        model_whitelist,
      </if>
      <if test="modelBlacklist != null">
        model_blacklist,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="placementId != null">
        #{placementId,jdbcType=INTEGER},
      </if>
      <if test="countries != null">
        #{countries,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="conType != null">
        #{conType,jdbcType=TINYINT},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="ageMin != null">
        #{ageMin,jdbcType=INTEGER},
      </if>
      <if test="ageMax != null">
        #{ageMax,jdbcType=INTEGER},
      </if>
      <if test="interest != null">
        #{interest,jdbcType=VARCHAR},
      </if>
      <if test="iapMin != null">
        #{iapMin,jdbcType=DECIMAL},
      </if>
      <if test="iapMax != null">
        #{iapMax,jdbcType=DECIMAL},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelBow != null">
        #{channelBow,jdbcType=TINYINT},
      </if>
      <if test="modelType != null">
        #{modelType,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodify != null">
        #{lastmodify,jdbcType=TIMESTAMP},
      </if>
      <if test="brandWhitelist != null">
        #{brandWhitelist,jdbcType=LONGVARCHAR},
      </if>
      <if test="brandBlacklist != null">
        #{brandBlacklist,jdbcType=LONGVARCHAR},
      </if>
      <if test="modelWhitelist != null">
        #{modelWhitelist,jdbcType=LONGVARCHAR},
      </if>
      <if test="modelBlacklist != null">
        #{modelBlacklist,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtiming.om.ds.model.OmPlacementRuleSegmentWithBLOBs">
    update om_placement_rule_segment
    <set>
      <if test="placementId != null">
        placement_id = #{placementId,jdbcType=INTEGER},
      </if>
      <if test="countries != null">
        countries = #{countries,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="conType != null">
        con_type = #{conType,jdbcType=TINYINT},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="ageMin != null">
        age_min = #{ageMin,jdbcType=INTEGER},
      </if>
      <if test="ageMax != null">
        age_max = #{ageMax,jdbcType=INTEGER},
      </if>
      <if test="interest != null">
        interest = #{interest,jdbcType=VARCHAR},
      </if>
      <if test="iapMin != null">
        iap_min = #{iapMin,jdbcType=DECIMAL},
      </if>
      <if test="iapMax != null">
        iap_max = #{iapMax,jdbcType=DECIMAL},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelBow != null">
        channel_bow = #{channelBow,jdbcType=TINYINT},
      </if>
      <if test="modelType != null">
        model_type = #{modelType,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodify != null">
        lastmodify = #{lastmodify,jdbcType=TIMESTAMP},
      </if>
      <if test="brandWhitelist != null">
        brand_whitelist = #{brandWhitelist,jdbcType=LONGVARCHAR},
      </if>
      <if test="brandBlacklist != null">
        brand_blacklist = #{brandBlacklist,jdbcType=LONGVARCHAR},
      </if>
      <if test="modelWhitelist != null">
        model_whitelist = #{modelWhitelist,jdbcType=LONGVARCHAR},
      </if>
      <if test="modelBlacklist != null">
        model_blacklist = #{modelBlacklist,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.adtiming.om.ds.model.OmPlacementRuleSegmentWithBLOBs">
    update om_placement_rule_segment
    set placement_id = #{placementId,jdbcType=INTEGER},
      countries = #{countries,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=INTEGER},
      con_type = #{conType,jdbcType=TINYINT},
      gender = #{gender,jdbcType=TINYINT},
      age_min = #{ageMin,jdbcType=INTEGER},
      age_max = #{ageMax,jdbcType=INTEGER},
      interest = #{interest,jdbcType=VARCHAR},
      iap_min = #{iapMin,jdbcType=DECIMAL},
      iap_max = #{iapMax,jdbcType=DECIMAL},
      channel = #{channel,jdbcType=VARCHAR},
      channel_bow = #{channelBow,jdbcType=TINYINT},
      model_type = #{modelType,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      lastmodify = #{lastmodify,jdbcType=TIMESTAMP},
      brand_whitelist = #{brandWhitelist,jdbcType=LONGVARCHAR},
      brand_blacklist = #{brandBlacklist,jdbcType=LONGVARCHAR},
      model_whitelist = #{modelWhitelist,jdbcType=LONGVARCHAR},
      model_blacklist = #{modelBlacklist,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtiming.om.ds.model.OmPlacementRuleSegment">
    update om_placement_rule_segment
    set placement_id = #{placementId,jdbcType=INTEGER},
      countries = #{countries,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=INTEGER},
      con_type = #{conType,jdbcType=TINYINT},
      gender = #{gender,jdbcType=TINYINT},
      age_min = #{ageMin,jdbcType=INTEGER},
      age_max = #{ageMax,jdbcType=INTEGER},
      interest = #{interest,jdbcType=VARCHAR},
      iap_min = #{iapMin,jdbcType=DECIMAL},
      iap_max = #{iapMax,jdbcType=DECIMAL},
      channel = #{channel,jdbcType=VARCHAR},
      channel_bow = #{channelBow,jdbcType=TINYINT},
      model_type = #{modelType,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      lastmodify = #{lastmodify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>