<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adtiming.om.ds.dao.OmServerDomainMapper">
  <resultMap id="BaseResultMap" type="com.adtiming.om.ds.model.OmServerDomain">
    <id column="id" jdbcType="TINYINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="subdomain" jdbcType="VARCHAR" property="subdomain" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify" jdbcType="TIMESTAMP" property="lastmodify" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, domain, subdomain, create_time, lastmodify
  </sql>
  <select id="selectByExample" parameterType="com.adtiming.om.ds.model.OmServerDomainCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from om_server_domain
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from om_server_domain
    where id = #{id,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte">
    delete from om_server_domain
    where id = #{id,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.adtiming.om.ds.model.OmServerDomain">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Byte">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_server_domain (name, domain, subdomain, 
      create_time, lastmodify)
    values (#{name,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}, #{subdomain,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastmodify,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.adtiming.om.ds.model.OmServerDomain">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Byte">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_server_domain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="subdomain != null">
        subdomain,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastmodify != null">
        lastmodify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="subdomain != null">
        #{subdomain,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodify != null">
        #{lastmodify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtiming.om.ds.model.OmServerDomain">
    update om_server_domain
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="subdomain != null">
        subdomain = #{subdomain,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodify != null">
        lastmodify = #{lastmodify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtiming.om.ds.model.OmServerDomain">
    update om_server_domain
    set name = #{name,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR},
      subdomain = #{subdomain,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      lastmodify = #{lastmodify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=TINYINT}
  </update>
</mapper>