<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adtiming.om.ds.dao.StatLrMapper">
  <resultMap id="BaseResultMap" type="com.adtiming.om.ds.model.StatLr">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="day" jdbcType="DATE" property="day" />
    <result column="hour" jdbcType="TINYINT" property="hour" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="platform" jdbcType="TINYINT" property="platform" />
    <result column="publisher_id" jdbcType="INTEGER" property="publisherId" />
    <result column="pub_app_id" jdbcType="INTEGER" property="pubAppId" />
    <result column="placement_id" jdbcType="INTEGER" property="placementId" />
    <result column="instance_id" jdbcType="INTEGER" property="instanceId" />
    <result column="scene_id" jdbcType="INTEGER" property="sceneId" />
    <result column="adn_id" jdbcType="INTEGER" property="adnId" />
    <result column="abt" jdbcType="TINYINT" property="abt" />
    <result column="waterfall_request" jdbcType="INTEGER" property="waterfallRequest" />
    <result column="waterfall_filled" jdbcType="INTEGER" property="waterfallFilled" />
    <result column="instance_request" jdbcType="INTEGER" property="instanceRequest" />
    <result column="instance_filled" jdbcType="INTEGER" property="instanceFilled" />
    <result column="video_start" jdbcType="INTEGER" property="videoStart" />
    <result column="video_complete" jdbcType="INTEGER" property="videoComplete" />
    <result column="called_show" jdbcType="INTEGER" property="calledShow" />
    <result column="is_ready_true" jdbcType="INTEGER" property="isReadyTrue" />
    <result column="is_ready_false" jdbcType="INTEGER" property="isReadyFalse" />
    <result column="click" jdbcType="INTEGER" property="click" />
    <result column="impr" jdbcType="INTEGER" property="impr" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="bid_req" jdbcType="INTEGER" property="bidReq" />
    <result column="bid_resp" jdbcType="INTEGER" property="bidResp" />
    <result column="bid_resp_price" jdbcType="DECIMAL" property="bidRespPrice" />
    <result column="bid_win" jdbcType="INTEGER" property="bidWin" />
    <result column="bid_win_price" jdbcType="DECIMAL" property="bidWinPrice" />
    <result column="bid" jdbcType="TINYINT" property="bid" />
    <result column="mediation_click" jdbcType="INTEGER" property="mediationClick" />
    <result column="mediation_impr" jdbcType="INTEGER" property="mediationImpr" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, day, hour, country, platform, publisher_id, pub_app_id, placement_id, instance_id, 
    scene_id, adn_id, abt, waterfall_request, waterfall_filled, instance_request, instance_filled, 
    video_start, video_complete, called_show, is_ready_true, is_ready_false, click, impr, 
    create_time, bid_req, bid_resp, bid_resp_price, bid_win, bid_win_price, bid
  </sql>
  <select id="selectByExample" parameterType="com.adtiming.om.ds.model.StatLrCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stat_lr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.adtiming.om.ds.model.StatLrKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stat_lr
    where id = #{id,jdbcType=INTEGER}
      and day = #{day,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.adtiming.om.ds.model.StatLrKey">
    delete from stat_lr
    where id = #{id,jdbcType=INTEGER}
      and day = #{day,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="com.adtiming.om.ds.model.StatLr">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stat_lr (day, hour, country, 
      platform, publisher_id, pub_app_id, 
      placement_id, instance_id, scene_id, 
      adn_id, abt, waterfall_request, 
      waterfall_filled, instance_request, instance_filled, 
      video_start, video_complete, called_show, 
      is_ready_true, is_ready_false, click, 
      impr, create_time, bid_req, 
      bid_resp, bid_resp_price, bid_win, 
      bid_win_price, bid)
    values (#{day,jdbcType=DATE}, #{hour,jdbcType=TINYINT}, #{country,jdbcType=VARCHAR}, 
      #{platform,jdbcType=TINYINT}, #{publisherId,jdbcType=INTEGER}, #{pubAppId,jdbcType=INTEGER}, 
      #{placementId,jdbcType=INTEGER}, #{instanceId,jdbcType=INTEGER}, #{sceneId,jdbcType=INTEGER}, 
      #{adnId,jdbcType=INTEGER}, #{abt,jdbcType=TINYINT}, #{waterfallRequest,jdbcType=INTEGER}, 
      #{waterfallFilled,jdbcType=INTEGER}, #{instanceRequest,jdbcType=INTEGER}, #{instanceFilled,jdbcType=INTEGER}, 
      #{videoStart,jdbcType=INTEGER}, #{videoComplete,jdbcType=INTEGER}, #{calledShow,jdbcType=INTEGER}, 
      #{isReadyTrue,jdbcType=INTEGER}, #{isReadyFalse,jdbcType=INTEGER}, #{click,jdbcType=INTEGER}, 
      #{impr,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{bidReq,jdbcType=INTEGER}, 
      #{bidResp,jdbcType=INTEGER}, #{bidRespPrice,jdbcType=DECIMAL}, #{bidWin,jdbcType=INTEGER}, 
      #{bidWinPrice,jdbcType=DECIMAL}, #{bid,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.adtiming.om.ds.model.StatLr">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stat_lr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="day != null">
        day,
      </if>
      <if test="hour != null">
        hour,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="publisherId != null">
        publisher_id,
      </if>
      <if test="pubAppId != null">
        pub_app_id,
      </if>
      <if test="placementId != null">
        placement_id,
      </if>
      <if test="instanceId != null">
        instance_id,
      </if>
      <if test="sceneId != null">
        scene_id,
      </if>
      <if test="adnId != null">
        adn_id,
      </if>
      <if test="abt != null">
        abt,
      </if>
      <if test="waterfallRequest != null">
        waterfall_request,
      </if>
      <if test="waterfallFilled != null">
        waterfall_filled,
      </if>
      <if test="instanceRequest != null">
        instance_request,
      </if>
      <if test="instanceFilled != null">
        instance_filled,
      </if>
      <if test="videoStart != null">
        video_start,
      </if>
      <if test="videoComplete != null">
        video_complete,
      </if>
      <if test="calledShow != null">
        called_show,
      </if>
      <if test="isReadyTrue != null">
        is_ready_true,
      </if>
      <if test="isReadyFalse != null">
        is_ready_false,
      </if>
      <if test="click != null">
        click,
      </if>
      <if test="impr != null">
        impr,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="bidReq != null">
        bid_req,
      </if>
      <if test="bidResp != null">
        bid_resp,
      </if>
      <if test="bidRespPrice != null">
        bid_resp_price,
      </if>
      <if test="bidWin != null">
        bid_win,
      </if>
      <if test="bidWinPrice != null">
        bid_win_price,
      </if>
      <if test="bid != null">
        bid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="day != null">
        #{day,jdbcType=DATE},
      </if>
      <if test="hour != null">
        #{hour,jdbcType=TINYINT},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=TINYINT},
      </if>
      <if test="publisherId != null">
        #{publisherId,jdbcType=INTEGER},
      </if>
      <if test="pubAppId != null">
        #{pubAppId,jdbcType=INTEGER},
      </if>
      <if test="placementId != null">
        #{placementId,jdbcType=INTEGER},
      </if>
      <if test="instanceId != null">
        #{instanceId,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null">
        #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="adnId != null">
        #{adnId,jdbcType=INTEGER},
      </if>
      <if test="abt != null">
        #{abt,jdbcType=TINYINT},
      </if>
      <if test="waterfallRequest != null">
        #{waterfallRequest,jdbcType=INTEGER},
      </if>
      <if test="waterfallFilled != null">
        #{waterfallFilled,jdbcType=INTEGER},
      </if>
      <if test="instanceRequest != null">
        #{instanceRequest,jdbcType=INTEGER},
      </if>
      <if test="instanceFilled != null">
        #{instanceFilled,jdbcType=INTEGER},
      </if>
      <if test="videoStart != null">
        #{videoStart,jdbcType=INTEGER},
      </if>
      <if test="videoComplete != null">
        #{videoComplete,jdbcType=INTEGER},
      </if>
      <if test="calledShow != null">
        #{calledShow,jdbcType=INTEGER},
      </if>
      <if test="isReadyTrue != null">
        #{isReadyTrue,jdbcType=INTEGER},
      </if>
      <if test="isReadyFalse != null">
        #{isReadyFalse,jdbcType=INTEGER},
      </if>
      <if test="click != null">
        #{click,jdbcType=INTEGER},
      </if>
      <if test="impr != null">
        #{impr,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidReq != null">
        #{bidReq,jdbcType=INTEGER},
      </if>
      <if test="bidResp != null">
        #{bidResp,jdbcType=INTEGER},
      </if>
      <if test="bidRespPrice != null">
        #{bidRespPrice,jdbcType=DECIMAL},
      </if>
      <if test="bidWin != null">
        #{bidWin,jdbcType=INTEGER},
      </if>
      <if test="bidWinPrice != null">
        #{bidWinPrice,jdbcType=DECIMAL},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtiming.om.ds.model.StatLr">
    update stat_lr
    <set>
      <if test="hour != null">
        hour = #{hour,jdbcType=TINYINT},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=TINYINT},
      </if>
      <if test="publisherId != null">
        publisher_id = #{publisherId,jdbcType=INTEGER},
      </if>
      <if test="pubAppId != null">
        pub_app_id = #{pubAppId,jdbcType=INTEGER},
      </if>
      <if test="placementId != null">
        placement_id = #{placementId,jdbcType=INTEGER},
      </if>
      <if test="instanceId != null">
        instance_id = #{instanceId,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null">
        scene_id = #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="adnId != null">
        adn_id = #{adnId,jdbcType=INTEGER},
      </if>
      <if test="abt != null">
        abt = #{abt,jdbcType=TINYINT},
      </if>
      <if test="waterfallRequest != null">
        waterfall_request = #{waterfallRequest,jdbcType=INTEGER},
      </if>
      <if test="waterfallFilled != null">
        waterfall_filled = #{waterfallFilled,jdbcType=INTEGER},
      </if>
      <if test="instanceRequest != null">
        instance_request = #{instanceRequest,jdbcType=INTEGER},
      </if>
      <if test="instanceFilled != null">
        instance_filled = #{instanceFilled,jdbcType=INTEGER},
      </if>
      <if test="videoStart != null">
        video_start = #{videoStart,jdbcType=INTEGER},
      </if>
      <if test="videoComplete != null">
        video_complete = #{videoComplete,jdbcType=INTEGER},
      </if>
      <if test="calledShow != null">
        called_show = #{calledShow,jdbcType=INTEGER},
      </if>
      <if test="isReadyTrue != null">
        is_ready_true = #{isReadyTrue,jdbcType=INTEGER},
      </if>
      <if test="isReadyFalse != null">
        is_ready_false = #{isReadyFalse,jdbcType=INTEGER},
      </if>
      <if test="click != null">
        click = #{click,jdbcType=INTEGER},
      </if>
      <if test="impr != null">
        impr = #{impr,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidReq != null">
        bid_req = #{bidReq,jdbcType=INTEGER},
      </if>
      <if test="bidResp != null">
        bid_resp = #{bidResp,jdbcType=INTEGER},
      </if>
      <if test="bidRespPrice != null">
        bid_resp_price = #{bidRespPrice,jdbcType=DECIMAL},
      </if>
      <if test="bidWin != null">
        bid_win = #{bidWin,jdbcType=INTEGER},
      </if>
      <if test="bidWinPrice != null">
        bid_win_price = #{bidWinPrice,jdbcType=DECIMAL},
      </if>
      <if test="bid != null">
        bid = #{bid,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and day = #{day,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtiming.om.ds.model.StatLr">
    update stat_lr
    set hour = #{hour,jdbcType=TINYINT},
      country = #{country,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=TINYINT},
      publisher_id = #{publisherId,jdbcType=INTEGER},
      pub_app_id = #{pubAppId,jdbcType=INTEGER},
      placement_id = #{placementId,jdbcType=INTEGER},
      instance_id = #{instanceId,jdbcType=INTEGER},
      scene_id = #{sceneId,jdbcType=INTEGER},
      adn_id = #{adnId,jdbcType=INTEGER},
      abt = #{abt,jdbcType=TINYINT},
      waterfall_request = #{waterfallRequest,jdbcType=INTEGER},
      waterfall_filled = #{waterfallFilled,jdbcType=INTEGER},
      instance_request = #{instanceRequest,jdbcType=INTEGER},
      instance_filled = #{instanceFilled,jdbcType=INTEGER},
      video_start = #{videoStart,jdbcType=INTEGER},
      video_complete = #{videoComplete,jdbcType=INTEGER},
      called_show = #{calledShow,jdbcType=INTEGER},
      is_ready_true = #{isReadyTrue,jdbcType=INTEGER},
      is_ready_false = #{isReadyFalse,jdbcType=INTEGER},
      click = #{click,jdbcType=INTEGER},
      impr = #{impr,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      bid_req = #{bidReq,jdbcType=INTEGER},
      bid_resp = #{bidResp,jdbcType=INTEGER},
      bid_resp_price = #{bidRespPrice,jdbcType=DECIMAL},
      bid_win = #{bidWin,jdbcType=INTEGER},
      bid_win_price = #{bidWinPrice,jdbcType=DECIMAL},
      bid = #{bid,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
      and day = #{day,jdbcType=DATE}
  </update>

  <sql id="Summary_Where_Clause">
    <where>
      <foreach collection="_parameter.get('summaryWhereClause')" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <select id="selectSummary" parameterType="map" resultMap="BaseResultMap">
    select
    <if test="_parameter.containsKey('dimension_day')">
      day,
    </if>
    <if test="_parameter.containsKey('dimension_publisherId')">
      publisher_id,
    </if>
    <if test="_parameter.containsKey('dimension_pubAppId')">
      pub_app_id,
    </if>
    <if test="_parameter.containsKey('dimension_platform')">
      platform,
    </if>
    <if test="_parameter.containsKey('dimension_country')">
      country,
    </if>
    <if test="_parameter.containsKey('dimension_placementId')">
      placement_id,
    </if>
    <if test="_parameter.containsKey('dimension_instanceId')">
      instance_id,
    </if>
    <if test="_parameter.containsKey('dimension_sceneId')">
      scene_id,
    </if>
    <if test="_parameter.containsKey('dimension_only_adn')">
      case when bid = 0 then adn_id else -1 end as adn_id,
    </if>
    <if test="_parameter.containsKey('dimension_adnId')">
      adn_id,
    </if>
    <if test="_parameter.containsKey('dimension_abt')">
      abt,
    </if>
    <if test="_parameter.containsKey('dimension_hour')">
      hour,
    </if>
    <if test="_parameter.containsKey('dimension_bid')">
      bid,
    </if>
    sum(waterfall_request) as waterfall_request,sum(waterfall_filled) as waterfall_filled,
    sum(instance_request + bid_req) as instance_request, sum(instance_filled + bid_resp) as instance_filled,
    sum(video_start) as video_start,sum(video_complete) as video_complete,sum(called_show) as called_show,
    sum(is_ready_true) as is_ready_true,sum(is_ready_false) as is_ready_false,
    sum(click) as click,sum(impr) as impr, sum(click) as mediation_click, sum(impr) as mediation_impr,
    sum(bid_req) as bid_req, sum(bid_resp) as bid_resp, sum(bid_resp_price) as bid_resp_price,
    sum(bid_win) as bid_win, sum(bid_win_price) as bid_win_price
    from stat_lr
    <if test="_parameter.containsKey('summaryWhereClause')">
      <include refid="Summary_Where_Clause" />
    </if>
    group by
    <if test="_parameter.containsKey('dimension_day')">
      day,
    </if>
    <if test="_parameter.containsKey('dimension_publisherId')">
      publisher_id,
    </if>
    <if test="_parameter.containsKey('dimension_pubAppId')">
      pub_app_id,
    </if>
    <if test="_parameter.containsKey('dimension_platform')">
      platform,
    </if>
    <if test="_parameter.containsKey('dimension_country')">
      country,
    </if>
    <if test="_parameter.containsKey('dimension_placementId')">
      placement_id,
    </if>
    <if test="_parameter.containsKey('dimension_instanceId')">
      instance_id,
    </if>
    <if test="_parameter.containsKey('dimension_sceneId')">
      scene_id,
    </if>
    <if test="_parameter.containsKey('dimension_only_adn')">
      case when bid = 0 then adn_id else -1 end,
    </if>
    <if test="_parameter.containsKey('dimension_adnId')">
      adn_id,
    </if>
    <if test="_parameter.containsKey('dimension_abt')">
      abt,
    </if>
    <if test="_parameter.containsKey('dimension_hour')">
      hour,
    </if>
    <if test="_parameter.containsKey('dimension_bid')">
      bid,
    </if>
    null
    <if test="_parameter.containsKey('orderByClause')">
      order by #{orderByClause}
    </if>
  </select>
</mapper>